@use '../../../styles/styles.scss' as *;
.button {
    border: 1px solid #7e87ff;
    background: none;
    padding: 8px 21px;
    border-radius: 20px;
    font-size: 14px;
    transition: background-color 0.3s ease-out;

    &:hover {
        background-color: $purple-100;
    }
}
