@use '../../styles/styles.scss' as *;

.header {
    padding: 0 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    margin-bottom: 32px;

    &__logo {
        width: 128px;
        min-width: 128px;
        height: 128px;
        min-height: 128px;
        border-radius: 25px;
        box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 0.1);
        padding: 32px;
    }

    &__title {
        flex-grow: 1;
        margin-top: auto;
        &-brand {
            font-size: $h3;
            font-weight: 750;
            margin: 0;
        }
        &-project {
            font-size: $h6;
            font-weight: 800;
        }
        &-description {
            margin: 0;
            font-size: $h5;
            font-weight: 500;
        }
    }

    &__modules {
        border-radius: 16px;
        box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 0.1);
        padding: 21px 40px;
        &-title {
            font-size: $h6;
            font-weight: 750;
            margin: 0 0 8px 0;
        }
        &-details {
            display: flex;
            justify-content: space-between;
            gap: 24px;
        }
        &-item {
            &-feature {
                margin: 0 0 8px 0;
                font-weight: 400;
                text-align: end;
                font-size: 14px;
            }
            &-value {
                text-align: end;
                font-size: $h4;
                font-weight: 500;
                margin: 0;
            }
        }
    }

    &__state {
        align-self: stretch;
        border-radius: 16px;
        box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 0.1);
        padding: 16px 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        &-title {
            margin: 0;
            font-size: $h6;
            font-weight: 500;
        }
        &-date {
            margin: 16px 0 0 0;
            font-size: $h5;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        &-text {
            font-size: $h5;
            font-weight: 500;
        }
        &-burger {
            border: none;
            border-radius: 10px;
            background: linear-gradient(to bottom, #eb2e77, #fe8b54);
            height: 70px;
            aspect-ratio: 1/1;
            display: grid;
            place-content: center;
            gap: 5px;
            transition: all 0.3s ease-out;

            &-row {
                background: white;
                border-radius: 3px;
                height: 3px;
                width: 30px;

                &:nth-of-type(2) {
                    width: 22px;
                    justify-self: end;
                }
            }

            &:hover {
                background: linear-gradient(to bottom, #d4306f, #e27e50);
            }
        }
    }
}
